
<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="primary">
          <ion-button>
              <ion-icon size="large" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    <ion-title>Memo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>new</ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium" routerLink="/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
